.CulturePage__Container {
  background-color: #74c8d2;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.CulturePage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  text-align: left;
  padding: 0 20px;
  color: #2a2c2e;
  margin-top: 20px;
  margin-bottom: 50px;
}

.CulturePage__Content {
  background: #ffffff;
  padding: 120px 20px;
  display: grid;
}

.CulturePage__Link {
  text-align: right;
}

.CulturePage__Link ::after {
  box-shadow: 0 0 0 1px blue;
}

.CulturePage__Link ::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 10px black;
}

.CulturePage__Link :hover::before {
  margin-left: 0;
}

.CulturePage__Manifest__Title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.CulturePage__Manifest {
  text-align: justify;
}

.CulturePage__Manifest,
.CulturePage__Description {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #2a2c2e;
  font-weight: 500;
  line-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
}


.Home__Content .Services__Link,
.Home__Content .AboutUs__Link,
.Home__Content .Culture__Link,
.Home__Content .Projects__Link {
  text-align: right;
  margin: 30px 0 30px auto;
}


.CulturePage__Container .CulturePage__Link a {
  position: relative;
  transform-style: preserve-3d;
  display: inline-flex;
  z-index: 1;
  color: #74c8d2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
}

.CulturePage__Container .CulturePage__Link a::after {
  position: absolute;
  content: "";
  background: #74c8d2;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: right 0.3s ease-in-out, width 0.2s ease-in-out;
  transform: translateZ(-1px);
  border: 0;
  box-shadow: none;
}

.CulturePage__Container .CulturePage__Link a:hover {
  color: #000;
}

.CulturePage__Container .CulturePage__Link a:hover::after,
.CulturePage__Container .CulturePage__Link a:focus::after {
  width: 100%;
}

.CulturePage__ImagesContainer {
  position: relative;
  height: 200px;
  max-height: 250px;
  margin-bottom: 20px;
}

.CulturePage__Image {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.CulturePage__Image--active {
  opacity: 1;
}

@media (min-width: 568px) {
  .CulturePage__ImagesContainer {
    height: 400px;
    max-height: 400px;
  }
}

@media (min-width: 992px) {
  .CulturePage__Title {
    padding-left: 27%;
    padding-right: 27%;
    margin-top: 100px;
    font-size: 75px;
    line-height: 80px;
    max-width: 90%;
  }

  .CulturePage__Content {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
