.CulturePage__Container {
  background-color: #74c8d2;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.CulturePage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  text-align: left;
  padding: 0 20px;
  color: #2a2c2e;
  margin-top: 20px;
  margin-bottom: 50px;
}

.CulturePage__Link {
  text-align: right;
}

.CulturePage__Link ::after {
  box-shadow: 0 0 0 1px blue;
}

.CulturePage__Link ::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 10px black;
}

.CulturePage__Link :hover::before {
  margin-left: 0;
}

.CulturePage__Manifest__Title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.CulturePage__Manifest {
  text-align: justify;
}

.CulturePage__Manifest,
.CulturePage__Description {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #2a2c2e;
  font-weight: 500;
  line-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.Home__Content .Services__Link,
.Home__Content .AboutUs__Link,
.Home__Content .Culture__Link,
.Home__Content .Projects__Link {
  text-align: right;
  margin: 30px 0 30px auto;
}

.CulturePage__Container .CulturePage__Link a {
  position: relative;
  transform-style: preserve-3d;
  display: inline-flex;
  z-index: 1;
  color: #74c8d2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
}

.CulturePage__Container .CulturePage__Link a::after {
  position: absolute;
  content: '';
  background: #74c8d2;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: right 0.3s ease-in-out, width 0.2s ease-in-out;
  transform: translateZ(-1px);
  border: 0;
  box-shadow: none;
}

.CulturePage__Container .CulturePage__Link a:hover {
  color: #000;
}

.CulturePage__Container .CulturePage__Link a:hover::after,
.CulturePage__Container .CulturePage__Link a:focus::after {
  width: 100%;
}

.CulturePage__ImagesContainer {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
}

.CulturePage__Image {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.CulturePage__Image--active {
  opacity: 1;
}

.CulturePage__FirstText p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #030303;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-top: 40px;
}

.CulturePage__FirstText span {
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.CulturePage__FirstText a {
  color: #030303;
  float: right;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  background-image: linear-gradient(
    to left,
    #74c8d2,
    #74c8d2 50%,
    #000 50%,
    #000
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  margin-bottom: 20px;
  text-decoration: none;
}

.CulturePage__FirstText a:hover {
  background-position: 0 0;
  color: #fff;
}

.textoSlider {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 50px;
  align-content: flex-end;
  color: white;
  max-width: 720px;
  padding-bottom: 50px;
}

.textoSlider span {
  font-weight: 700;
}

@media (min-width: 568px) {
  .TitleContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto, auto);
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .CulturePage__Title {
    padding-left: 27%;
    font-size: 75px;
    line-height: 80px;
    max-width: 90%;
  }

  .CulturePage__Content {
    padding: 0;
  }

  .TitleContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    padding: 0 15px;
  }

  .CulturePage__FirstText {
    padding-right: 27%;
  }
}

@media (max-width: 420px) {
  .TitleContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    padding: 0 30px;
  }
}
