.BlogPage__Title,
.BlogPage__Content {
  padding: 0 20px;
}

.BlogPage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  font-weight: 700;
  margin-top: 250px;
  margin-bottom: 80px;
  color: #fff;
}

.BlogPage__Content {
  background: #fff;
  padding: 80px 20px 40px;
}

.BlogItem__Container {
  border: 1px solid #333;
  margin: 30px 10px;
}

.BlogItem__Image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.BlogItem__Image img {
  width: 100%;
  object-fit: contain;
}

.BlogItem__Content {
  font-family: 'Montserrat', sans-serif;
  padding: 25px 20px;
}

.BlogItem__Header__Title {
  margin: 5px 0;
}

.BlogItem__Header__Title h4 {
  color: #2a2c2e;
  font-weight: 700;
  font-size: 18px;
}

.BlogItem__Description {
  color: #2a2c2e;
}

.BlogItem__ReadMore {
  padding: 0 20px;
  margin-bottom: 15px;
}

.BlogItem__Link {
  position: relative;
  display: inline-flex;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  background-image: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  display: block;
}

.BlogItem__Link:hover,
.BlogItem__Link:focus {
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #74c8d2 50%,
    #74c8d2
  );
  background-position: 0 0;
  color: #2a2c2e;
}

.BlogPage__Archive h3,
.BlogPage__LastEntries h3 {
  color: #2a2c2e;
  text-transform: uppercase;
}

.BlogPage__Sidebar {
  margin: 30px 10px;
}

.BlogPage__Sidebar > div {
  margin-bottom: 60px;
}

.BlogPage__Sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.BlogPage__Sidebar li {
  position: relative;
  display: inline-flex;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  background-image: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out;
  padding: 15px 2px;
  margin: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid #222;
}

.BlogPage__Sidebar li:hover,
.BlogPage__Sidebar li:focus {
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #74c8d2 50%,
    #74c8d2
  );
  background-position: 0 0;
  color: #2a2c2e;
}

@media (min-width: 992px) {
  .BlogPage__Title,
  .BlogPage__Content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .BlogPage__Content {
    display: grid;
    grid: auto / 70% calc(30% - 40px);
    grid-gap: 40px;
  }

  .BlogPage__Entries {
    display: grid;
    grid: auto / auto auto;
    grid-gap: 20px;
  }

  .BlogItem__Container {
    margin: 0 0 15px;
  }

  .BlogPage__Sidebar {
    margin: 0;
  }
}
