.ContactPage__Container {
  background-color: #74c8d2;
}

.ContactPage__FormContainer {
  background: #ffffff;
  padding: 120px 20px;
  display: grid;
}

.ContactPage__Clients {
  background: #74c8d2;
  padding: 40px 20px;
}

.ContactPage__Clients__Title {
  color: #000000;
  margin-bottom: 20px;
}

.ContactPage__Clients__Images {
  display: grid;
  grid-gap: 20px;
}

.ContactPage__Clients__Images > img {
  width: 100%;
  height: 100%;
  min-height: 150px;
  object-fit: contain;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
}

.ContactPage__LeftContent {
  grid-column: 1;
  padding-right: 0;
  margin-bottom: 35px;
}

.ContactPage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  line-height: 80px;
  font-weight: 800;
  margin-top: 250px;
  margin-bottom: 80px;
  padding: 0 20px;
  color: #2a2c2e;
}

.ContactPage__Subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #2a2c2e;
}

.ContactPage__Description {
  font-size: 18px;
  color: #2a2c2e;
  font-weight: 500;
}

.ContactPage__RightContent {
  grid-row: 2;
  grid-column: 1;
}

.ContactPage__RightContent .ContactPage__Input {
  width: 100%;
  margin-bottom: 15px;
  color: #2a2c2e;
}

.ContactPage__FormContainer__CTAContainer__SubmitProgress {
  display: none;
}

.ContactPage__FormContainer__CTAContainer--loading
  .ContactPage__FormContainer__CTAContainer__SubmitProgress {
  display: block;
}

.ContactPage__FormContainer__CTAContainer--loading button {
  display: none;
}

@media (min-width: 992px) {
  .ContactPage__Title {
    padding-left: 15%;
    padding-right: 15%;
  }

  .ContactPage__FormContainer {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: auto 40%;
  }

  .ContactPage__Clients {
    background: #74c8d2;
    padding: 40px 0;
  }

  .ContactPage__Clients__Title {
    padding-left: 15%;
    padding-right: 15%;
  }

  .ContactPage__Clients__Images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .ContactPage__Clients__Images > img {
    width: calc(33% - 40px);
    height: 200px;
    margin: 20px auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  }

  .ContactPage__Clients__Images > img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }

  .ContactPage__LeftContent {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0;
    padding-right: 30px;
  }

  .ContactPage__RightContent {
    grid-row: 1;
    grid-column: 3 / 5;
  }
}
