.ServiceItem {
  font-family: 'Montserrat', sans-serif;
  color: #2a2c2e;
  padding-top: 50px;
}

.ServiceItem__Title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 2;
  margin: 0;
}

.ServiceItem__Description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.ServiceItem__Img {
  width: 25px;
  margin: 0;
  padding: 0;
  line-height: 3;
  margin-right: 15px;
}
