.AppContainer .Navbar__Container {
  background: transparent;
  transition: background 0.1s linear;
  background: #2a2c2eaa;
}

.Navbar__MenuList {
  margin: 0;
  padding: 0;
  display: block;
}

.Navbar__MenuList .Navbar__MenuList__Item {
  display: block;
  margin: 0 2px;
  padding: 0;
}

.Navbar__MenuList .Navbar__MenuList__Item a {
  display: block;
  margin: 0;
  padding: 10px 17px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.Navbar__Container > div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 64px;
  padding: 0 20px;
}

.Navbar__Container .Navbar__MenuButton {
  margin-left: auto;
}

.Navbar__Container .Navbar__Logo {
  cursor: pointer;
}

.Navbar__Container .Navbar__Logo img {
  margin: 0;
  max-width: 100%;
}

.Navbar__Container .Navbar__MenuContainer {
  margin: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.Navbar__Container .Navbar__MenuContainer.Navbar__MenuContainer--expanded {
  height: 250px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.Navbar__Container .Navbar__MenuButton {
  display: block;
  color: #fff;
  margin-right: -20px;
}

@media (min-width: 992px) {
  .Navbar__Container .Navbar__MenuContainer {
    display: block;
    height: auto;
    text-align: right;
  }

  .Navbar__MenuList {
    display: inline-block;
  }

  .Navbar__MenuList .Navbar__MenuList__Item {
    display: inline-block;
  }

  .Navbar__Logo {
    display: none;
  }

  .Navbar__Container > div {
    display: flex;
    padding: 0 15%;
  }

  .AppContainer .Navbar__Container.Navbar--full > div {
    display: grid;
    grid-template-columns: auto auto;
  }

  .AppContainer .Navbar__Container.Navbar--full .Navbar__Logo {
    display: block;
  }

  .Navbar__Container .Navbar__MenuContainer.Navbar__MenuContainer--expanded {
    height: auto;
    grid-column: 2;
  }

  .Navbar__Container .Navbar__MenuButton {
    display: none;
  }
}
