.ServicesPage__Container {
  background-image: url('../../images/ondas-bg.png');
  background-color: #2a2c2e;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.ServicesPage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  font-weight: 700;
  margin-top: 250px;
  margin-bottom: 80px;
  padding: 0 20px;
  color: #fff;
}

.ServicesPage__Content {
  background: #ffffff;
  padding: 60px 20px;
  display: grid;
}

.ServicesPage__Image {
  text-align: center;
  align-self: center;
  color: #777777;
}

.ServicesPage__Image img {
  margin: 0;
}

@media (min-width: 992px) {
  .ServicesPage__Title {
    padding-left: 15%;
    padding-right: 15%;
  }

  .ServicesPage__Content {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .ServicesPage__Image {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}
