.AboutUsPage__Container {
  background-color: #74c8d2;
}

.AboutUsPage__Title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  font-weight: 700;
  margin-top: 250px;
  margin-bottom: 80px;
  padding: 0 20px;
  color: #fff;
}

.AboutUsPage__Content {
  background: #ffffff;
  padding: 120px 20px;
  display: grid;
}

.AboutUsPage__Description {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #2a2c2e;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 1rem;
}

.AboutUsPage__Image {
  text-align: center;
  align-self: center;
  color: #777777;
}

.AboutUsPage__Image img {
  margin: 0;
}

@media (min-width: 992px) {
  .AboutUsPage__Title {
    padding-left: 15%;
    padding-right: 15%;
  }

  .AboutUsPage__Content {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: auto 40%;
  }
}
